.DownloadPanelWrapper {
  display: grid;
  margin: 20px;
}

.DownloadPanelHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #4A4A4A;
  justify-self: center;
  margin-top: 30px;
}

.FilesList {
  height: 420px;
  max-width: 100%;
  overflow: hidden;
}

.fileDescriptionWrapper {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  overflow: hidden;
}

.FileDescription {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  max-width: 100%;
  color: #4A4A4A;
  flex-grow: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.FileDownloadProgress {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 20px;
  color: #4A4A4A;
}

.DownloadAnimation {
  animation: DownloadInProgress 1.5s forwards;
}

@keyframes DownloadInProgress {
  100% {
    flex-grow: 1
  }
}

.DownloadButton {
  align-self: center;
  width: 80vw;
  max-width: 510px
}

