<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height"/>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/down.css">
    <title>KobeTransfer</title>
</head>
<body>

    <h1>FilePasteBin</h1>
    <h1 id="code"><%= code %></h1>
    <h1 id="file-name"><%= fileName %></h1>
    <h1 id="file-size"><%= fileSize%></h1>
    <h1 id="progress">0%</h1>
    <button id="download">Download</button>
    <div id="reveal"></div>
    <div id="text-wrapper"></div>
    <div id="center-wrapper"></div>


</body>

<script src="/libs/adapter.js"></script>
<script src="/libs/download.js"></script>
<script src="/javascript/client.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134611312-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134611312-1');
</script>
</html>