<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height"/>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/down.css">
    <title>KobeTransfer</title>
</head>
<body>
    <div id="container">
        <div class="column ad side">
            <div class="line left"></div>
        </div>
        <div class="column center">
            <div id="top-bar">
                <div id="mini-logo">
                    <span class="mini-title front">Kobe</span><span class="mini-title end">Transfer</span>
                </div>
            </div>
            <div class="center">
                <div id="download-panel"></div>
            </div>
        </div>
        <div class="column ad side">
            <div class="line right"></div>
        </div>
    </div>
</body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script>
    const ROOM_CODE = "<%= code %>"
    const FILES_LIST = "<%= files %>"
</script>
<script src="/libs/download.js"></script>
<script src="/javascript/client.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134611312-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134611312-1');
</script>
</html>
