<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height"/>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/down.css">
    <title>FilePasteBin | Fast & Simple File Transfer</title>
</head>
<body>
    <div id="container">
        <div class="column side">
            <div class="ad" id="amzn-assoc-ad-2ec22619-1582-405d-8498-cf40f8a015d8"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=2ec22619-1582-405d-8498-cf40f8a015d8"></script>
            <div class="line left"></div>
        </div>
        <div class="column center">
            <div id="top-bar">
                <div id="mini-logo">
                    <span class="mini-title front">Kobe</span><span class="mini-title end">Transfer</span>
                </div>
            </div>
            <div class="center">
                <div id="download-panel"></div>
            </div>
        </div>
        <div class="column side">
            <div class="line right"></div>
            <div class="ad" id="amzn-assoc-ad-ce91ada9-1551-4434-aef7-6bcdaa83ed3e"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=ce91ada9-1551-4434-aef7-6bcdaa83ed3e"></script>
        </div>
    </div>
</body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script>
    const ROOM_CODE = "<%= code %>"
    const FILES_LIST = "<%= files %>"
</script>
<script src="/libs/download.js"></script>
<script src="/javascript/client.js"></script>

</html>
