<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FilePasteBin | Fast & Simple File Transfer</title>
    <meta name="description" content="Kobe Transfer is the simplest way to share files between your different devices.
     Send any file from your phone to your computer in just 2 clicks. No email or registration is required.
     Kobe Transfer uses peer-to-peer technologies to send files quickly and securely.">
    <meta name="keywords" content="File,Transfer,Airdrop,Pastebin,Paste,tool,iOS,Windows,Android,KobeTransfer,Secure,
    No limit,No registration,No email,Simple,Free,Mobile,Fast,Peer2peer">
    <meta name="author" content="Kevin Wang">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/index-dialog.css">
    <link rel="stylesheet" type="text/css" href="styles/index-initial.css">
    <link rel="stylesheet" type="text/css" href="styles/index-host.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring-gray.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring.css">
</head>

<body>
    <div id="container">
        <div class="column ad side">
            <div class="line left"></div>
        </div>
        <div class="column center">
            <div id="join-room-button">JOIN ROOM</div>
            <div id="initial-wrapper">
                <div id="logo">
                    <div id="main-logo">
                        <span class="title front">File</span><span class="title end">PasteBin</span>
                    </div>
                </div>
                <div class="center">
                    <div class="center-wrapper">
                        <div id="file-input"></div>
                        <button id="paste" class="blue-round" disabled>Paste It</button>
                    </div>
                </div>
            </div>
            <div id="host-wrapper">
                <div class="center auto-height">
                    <div id="code"></div>
                    <div id="share-url"></div>
                    <div class="info">
                        Use the above link to download your files. Do not close the window <br>
                        until the files have been downloaded
                    </div>
                    <div id="file-name"></div>
                    <div class="device-connected">
                        <div class="device-connected-text-wrapper">
                            <span id="device-connected-number">0</span> <span>Devices connected</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column ad side">
            <div class="line right"></div>
        </div>

        <div id="dialog-manager"></div>
    </div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-134611312-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134611312-1');
</script>

<script src="/javascript/host.js"></script>

</html>
