<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FilePastebin | Fast & Simple File Transfer</title>
    <meta name="description" content="FilePastebin is the simplest way to share files between your different devices.
     Send any file from your phone to your computer in just 2 clicks. No email or registration is required.
     FilePastebin uses peer-to-peer technologies to send files quickly and securely.">
    <meta name="keywords" content="File,Transfer,Airdrop,Pastebin,Paste,P2P,Peer2peer,tool,iOS,Windows,Android,Secure,
    No limit,No registration,No email,Simple,Free,Mobile,Fast">
    <meta name="author" content="Kevin Wang">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring-gray.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring.css">
</head>

<body>
    <div id="container">
        <div class="column side">
            <div class="ad" id="amzn-assoc-ad-b3227cf3-4e2e-4d4f-b70e-660c7220a465"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b3227cf3-4e2e-4d4f-b70e-660c7220a465"></script>
            <div class="line left"></div>
        </div>
        <div class="column center">
            <header>
                <div id="join-room-button">RECEIVE FILES</div>
                <a class="header-item" href="/info">INFO</a>
                <a class="header-item"
                   href="https://www.paypal.com/donate?business=kevinwang5658%40gmail.com&currency_code=CAD&amount=2"
                   target="_blank">DONATE</a>
            </header>
            <div id="main-content">
                <div id="logo">
                    <div id="main-logo">
                        <span class="title front">File</span><span class="title end">Pastebin</span>
                    </div>
                </div>
                <div class="center">
                    <div class="center-wrapper">
                        <div id="file-input"></div>
                        <button id="paste" class="blue-round" disabled>Paste It</button>
                    </div>
                </div>
            </div>
            <footer>
                <a href="https://github.com/kevinwang5658/filepastebin" target="_blank">
                    <img alt="Github link" class="logo" src="images/github_icon.png"/>
                </a>
                <a href="https://linkedin.com/in/kevinwang5658" target="_blank">
                    <img alt="Linkedin link" class="logo" src="images/linkedin_icon.png"/>
                </a>
                <div id="name">KEVIN WANG 2021</div>
            </footer>
        </div>
        <div class="column side">
            <div class="line right"></div>
            <div class="ad" id="amzn-assoc-ad-1adfca65-23fb-4da1-bc89-0b63e8ec987f"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=1adfca65-23fb-4da1-bc89-0b63e8ec987f"></script>
        </div>

        <div id="dialog-manager"></div>
    </div>
</body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="/javascript/host.js"></script>

</html>
