<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Free file transfer tool. Allows you to transfer files between devices">
    <meta name="keywords" content="File,Transfer,Pastebin,Paste,tool,iOS,Windows,Android,FilePasteBin">
    <meta name="author" content="Kevin Wang">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/index-dialog.css">
    <link rel="stylesheet" type="text/css" href="styles/index-initial.css">
    <link rel="stylesheet" type="text/css" href="styles/index-host.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring-gray.css">
    <link rel="stylesheet" type="text/css" href="styles/loading-ring.css">
    <title>KobeTransfer</title>
</head>

<body>

<% if(dev) { %>

<h1>FilePasteBin</h1>
<div id="code"></div>
<div id="share-url"></div>
<input id="in" type="file">
<button id="paste">Paste</button>
<div style="margin-top:25px;">
    FilePasteBin is a free file transfer tool. Choose a file then click paste. Use the link <br/>
    displayed to download the file onto another device. Browsers supported include Firefox, Chrome, <br/>
    and Safari on Windows, MacOS, and Android. Mostly works on iOS
</div>
<div id="file-name"></div>
<div class="device-connected">
    <div class="device-connected-text-wrapper">
        <span id="device-connected-number">0</span> <span>Devices connected</span>
    </div>
</div>
<div id="host-wrapper"></div>
<div id="initial-wrapper"></div>

<% } else { %>
<div id="container">
    <div class="column ad side">
        <div class="line left"></div>
    </div>
    <div class="column center">
        <div id="join-room-button">JOIN ROOM</div>
        <div id="initial-wrapper">
            <div id="logo">
                <div id="main-logo">
                    <span class="title front">Kobe</span><span class="title end">Transfer</span>
                </div>
            </div>
            <div class="center">
                <div class="center-wrapper">
                    <input id="in" name="in" class="inputfile" type="file">
                    <label id="in-label" for="in">Click to add file, or drag and drop</label>
                    <button id="paste" class="blue-round" disabled>Paste It</button>
                </div>
            </div>
        </div>
        <div id="host-wrapper">
            <div class="center auto-height">
                <div id="code"></div>
                <div id="share-url"></div>
                <div class="info">
                    Use the above link to download your files. Do not close the window <br>
                    until the files have been downloaded
                </div>
                <div id="file-name"></div>
                <div class="device-connected">
                    <div class="device-connected-text-wrapper">
                        <span id="device-connected-number">0</span> <span>Devices connected</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column ad side">
        <div class="line right"></div>
    </div>

    <div id="dialog-manager"></div>
</div>

<% } %>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-134611312-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134611312-1');
</script>

<script src="/libs/adapter.js"></script>
<script src="/javascript/host.js"></script>

</html>