<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="FilePastebin is the simplest way to share files between your different devices.
     Send any file from your phone to your computer in just 2 clicks. No email or registration is required.
     FilePastebin uses peer-to-peer technologies to send files quickly and securely.">
    <meta name="keywords" content="File,Transfer,Airdrop,Pastebin,Paste,P2P,Peer2peer,tool,iOS,Windows,Android,Secure,
    No limit,No registration,No email,Simple,Free,Mobile,Fast">
    <meta name="author" content="Kevin Wang">
    <meta name="viewport" content="width=device-width, height=device-height"/>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <title>FilePastebin | Fast & Simple File Transfer</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-33QKN0THGB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-33QKN0THGB');
    </script>
</head>
<body>
<div id="container">
    <div class="column side">
        <div class="ad" id="amzn-assoc-ad-2ec22619-1582-405d-8498-cf40f8a015d8"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=2ec22619-1582-405d-8498-cf40f8a015d8"></script>
        <div class="line left"></div>
    </div>
    <div class="column center">
        <div id="top-bar">
            <a id="mini-logo" href="/">
                <span class="mini-title front">File</span><span class="mini-title end">Pastebin</span>
            </a>
        </div>
        <div class="center">
            <div class="center-wrapper">
                <div id="logo">
                    <div id="main-logo">
                        <span class="title front">File</span><span class="title end">Pastebin</span>
                    </div>
                </div>
                <p class="description">
                    Filepastebin provides you with an easy way to transfer files between your phone and your computer. Not everybody is lucky enough to have Apple airdrop, so I created this website to make it easier for those who don't. Your files are securely transported between your devices without touching a server using a technology called WebRTC. No file data is ever stored on a server. Hope you enjoy!! And if you could, please donate some money because running a server isn't free. Donate $2 to help buy me a coffee =D.
                </p>
                <p class="description">
                    <b>About me:</b> I'm a fourth year systems design engineering student from the University of Waterloo. I'm about to graduate soon and I've been nervous about what's to come so I'm working on a couple projects for fun.
                </p>
            </div>
        </div>
    </div>
    <div class="column side">
        <div class="line right"></div>
        <div class="ad" id="amzn-assoc-ad-ce91ada9-1551-4434-aef7-6bcdaa83ed3e"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=ce91ada9-1551-4434-aef7-6bcdaa83ed3e"></script>
    </div>
</div>
</body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</html>
