.class {
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    color: #4A4A4A;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.ad {
}

.line {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.line.left {
    border-right: 1px solid #F2F2F2
}

.line.right {
    border-left: 1px solid #F2F2F2
}

.column {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}

.column.side {
    width: 400px;
}

.column.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#top-bar {
    height: 80px;
}

#mini-logo {
    margin: 30px;
    margin-left: 60px;
}

.mini-title {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
}


#logo {
    height: 200px;
    display: flex;
    justify-content: center;
}

.button {
}

.front {
    color: #4A90E2;
}

.end {
    color: #4A4A4A
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.center-wrapper {
    width: 510px;
    max-width: 100%;
}

.blue-round {
    border-radius: 25px;
    padding: 0;
    border: none;
    height: 44px;
    width: 100%;
    background: #297FE2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

@media (hover: hover) {
    .blue-round:hover .blue-round:active {
        background: #2078D5;
    }
}

.blue-round:focus {
    outline: none;
}