#host-wrapper {
    display: none;
    height: 100%;
}

.auto-height {
    flex: 1;
}

#code {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #4A4A4A;
    margin-top: 100px;
}

#share-url {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #4A4A4A;
    margin-top: 4px;
}

.info {
    margin-top: 60px;
    font-family: Helvetica, sans-serif;
    color: #9B9B9B;
    text-align: center;
}

#file-name {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #4A4A4A;
    margin-top: 240px;
}

.device-connected-text-wrapper {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #4A90E2;
    margin-top: 10px;
}