<!DOCTYPE html>
<html lang="en">
<head>
    <title>FilePasteBin</title>
</head>
<body>
    <h1>FilePasteBin</h1>
    <h1 id="code"><%= code %></h1>
    <h1 id="file_name"><%= fileName %></h1>
    <h1 id="progress">0%</h1>
    <button id="down" disabled>Download</button>
    <script src="/javascript/download.js"></script>
    <script src="/javascript/adapter.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/javascript/down.js"></script>
</body>
</html>